<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/img/edited.jpg"/> <!--Icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" />
  <link rel="stylesheet" href="css/style.css">
  <title>Brendon | Taku</title>
</head>

<body style="background-color: grey;">
  <div class="container" >
    <header id="main-header">
      <div class="row no-gutters">
        <div class="col-lg-4 col-md-5">
          <img src="/img/edited.jpg" alt="">
        </div>
        <div class="col-lg-8 col-md-7">
          <div class="d-flex flex-column">
            <div class="p-5 bg-dark text-white">
              <div class="d-flex flex-row justify-content-between align-items-center">
                <h1 class="display-4">Brendon-Taku</h1>
                <div class="d-none d-md-block">
                  <a href="http://twitter.com" class="text-white">
                    <i class="fab fa-twitter"></i>
                  </a>
                </div>
                <div>
                  <a href="http://facebook.com" class="text-white">
                    <i class="fab fa-facebook"></i>
                  </a>
                </div>
                <div>
                  <a href="http://instagram.com" class="text-white">
                    <i class="fab fa-instagram"></i>
                  </a>
                </div>
                <div>
                  <a href="http://github.com/Brandon-Taku" class="text-white">
                    <i class="fab fa-github"></i>
                  </a>
                </div>
              </div>
            </div>

            <div class="p-4 bg-black">
              Software Developer
            </div>

            <div>
              <div class="d-flex flex-row text-white align-items-stretch text-center">
                <div class="port-item p-4 bg-primary" data-toggle="collapse" data-target="#home">
                  <i class="fas fa-home fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Home</span>
                </div>
                <div class="port-item p-4 bg-success" data-toggle="collapse" data-target="#resume">
                  <i class="fas fa-graduation-cap fa-2x d-block"></i>
                  <span class="d-none d-sm-block">About Me!</span>
                </div>
                <div class="port-item p-4 bg-warning" data-toggle="collapse" data-target="#work">
                  <i class="fas fa-folder-open fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Work</span>
                </div>
                <div class="port-item p-4 bg-danger" data-toggle="collapse" data-target="#contact">
                  <i class="fas fa-envelope fa-2x d-block"></i>
                  <span class="d-none d-sm-block">Contact</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- HOME -->
    <div id="home" class="collapse show">
      <div class="card card-body bg-primary text-white py-5">
        <h2>Home</h2>
        <p class="lead">What's Up guys, Welcome to my Website!</p>
      </div>

      <div class="card card-body py-5">
        <h3>My Skills</h3>
       
        <hr>
        <h4>Java</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:50%"></div>
        </div>
        <h4>JavaScript</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:50%"></div>
        </div>
        <h4>C++</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:50%"></div>
        </div>
        <h4>NodeJs</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:50%"></div>
        </div>
        <h4>Flutter</h4>
        <div class="progress mb-3">
          <div class="progress-bar bg-success" style="width:100%">Currently Learning Flutter as well as other Java Android Application programs</div>
        </div>
    
      </div>
    </div>

    <!-- ABOUT ME -->
    <div id="resume" class="collapse">
      <div class="card card-body bg-success text-white py-5">
        <h2>About Me!</h2>
      </div>

      <div class="card card-body py-5">
        
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Qualifications</h4>
              
              <p class="p-2 mb-3 bg-dark text-white">
                Matric Certificate
              </p>
              <!-- <p class="p-2 mb-3 bg-dark text-white">
                Oracle : Java Certificate
              </p> -->
              <p class="p-2 mb-3 bg-dark text-white">
                Diploma in Information Technology
              </p>
            </div>
            <div class="card-footer">
              
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Interests</h4>
              <ul>
                 <li>Volunteering</li>
                 <li>Photography</li>
                 <li>Travelling</li>
                 <li>Listening to music</li>
              </ul>
              
            </div>
            <div class="card-footer">
              
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <img src="img/IMG-20201206-WA0008.jpg" width="300" height="220" alt="img">
            </div>
            <div class="card-footer">
             
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- WORK -->
    <div id="work" class="collapse">
      <div class="card card-body bg-warning text-white py-5">
        <h2>My Work</h2>
      </div>

      <div class="card card-body py-5">
        <h3>What Have I Built?</h3>
        <p>For some of my projects, please check out my <a href="http://github.com/Brandon-Taku">GitHub</a> page.</p>
        <div class="row no-gutters">
          <div class="col-md-3">
              <img src="/img/java-logo-wide.jpg" alt="" height="350" width="450" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="/img/javascript.png" alt="" height="350" width="450" class="img-fluid">
          </div>
          <br>
          <br>
          <div class="col-md-3">
            <img src="/img/1280px-Node.js_logo.svg.png" alt="" height="350" width="450" class="img-fluid">
          </div>
          <div class="col-md-3">
            <img src="/img/cpp_logo.png" alt="" height="350" width="450" class="img-fluid">
          </div>
        </div>

        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="/img/1_WaaXnUvhvrswhBJSw4YTuQ.png" alt="" height="350" width="450" class="img-fluid">
          </div>
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=257" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=257" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=258" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=258" alt="" class="img-fluid">
            </a>
          </div>
          <div class="col-md-3">
            <a href="https://unsplash.it/1200/768.jpg?image=259" data-toggle="lightbox">
              <img src="https://unsplash.it/600.jpg?image=259" alt="" class="img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- CONTACT -->
    <div id="contact" class="collapse">
      <div class="card card-body bg-danger text-white py-5">
        <h2>Contact</h2>
      </div>

      <div class="card card-body py-5">
        <h3>Get In Touch</h3>
        <div class="header"></div>
        
        <form action="/send-email" method="POST" class="form">
          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <input type="text" class="form-control bg-dark text-white" id="name" name="name" placeholder="Name" required>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <input type="email" class="form-control bg-dark text-white" id="email" name="email" placeholder="Email" required>
            </div>
          </div>

          <div class="form-group">
            <div class="input-group input-group-lg">
              <div class="input-group-prepend">
                <span class="input-group-text bg-danger text-white">
                  <i class="fas fa-pencil-alt"></i>
                </span>
              </div>
              <textarea class="form-control bg-dark text-white" id="message" name="body" placeholder="Message" required></textarea>
            </div>
          </div>

          <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg">
        </form>
      </div>
    </div>


    <!-- FOOTER -->
    <footer id="main-footer" class="p-5 bg-dark text-white">
      <p class="text-center">&#169; Brendon | Taku</p>
    </footer>
  </div>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

  <script>
    $('.port-item').click(function () {
      $('.collapse').collapse('hide');
    });

    $(document).on('click', '[data-toggle="lightbox"]', function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });
  </script>
</body>

</html>